{% extends "layout.html" %}

{% block heading %} Blogs {% endblock %}

{% block main %}
  <div class="container">
    <br />
    <br />
    <br />
    <h1>
      <span class="purple">BLOGS</span>
    </h1>
    <p text="centered">
      So I don't really know what role a table would play in the final CRLS Takes website, but for the time being,
      here is a table filled with random values so that I can get a good grade for my Web Development class.
    </p>
  </div>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Seed</th>
            <th scope="col">Team</th>
            <th scope="col">City</th>
            <th scope="col">Degree of Goodness</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Partiots</td>
            <td>New England (Boston)</td>
            <td>Best in the world</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Packers</td>
            <td>Green Bay</td>
            <td>OK</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Rams</td>
            <td>Los Angeles</td>
            <td>Tbh idk but not as good as the Patriots</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
