{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
  <div>
    <br />
    <br />
    <br />
    <h1 class="center">
      Welcome to CRLS <span class="green">TAKES</span>!
    </h1>
    <img class="center" src="/static/CRLS1.jpg" alt="Image of CRLS" style="width:800px;height:600px;" />
  </div>
  <p class="center">
    Just to make it a little easier to navigate, the only working links (currently) are this page (index),
    the about sections (about.html), general takes (takesG.html), and general Blogs (blogsG.html).
  </p>
{% endblock %}
