{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
      <br />
      <div class="container">
        <div class="jumbotron">
          <h1>
            CRLS <span class="purple">TAKES           </span>
          </h1>
          <img class="shake" src="/static/logo.jpg" alt="Logo" style="width:200px;height:200px;" />
          <p>
            Because the Register Forum sucks and you deserve better. You're welcome.
          </p>
        </div>
        <button class="accordion">Why CRLS Takes</button>
        <div class="panel">
         <p class="padded">Find out more on the "about" page.
           <br />
           <button onclick="location.href='/about'" type="button" class="hubber">
             About</button>
         </p>
        </div>

        <button class="accordion">Takes</button>
        <div class="panel">
          <br />
         <button class="pill">Freezing Cold</button>
         <button class="pill">Cool</button>
         <button class="pill">Lukewarm</button>
         <button class="pill">Hot</button>
         <button onclick="location.href='/scalding'" type="button" class="pill">
           Scalding</button>
         <br />
        </div>

        <button class="accordion">Blogs</button>
        <div class="panel">
         <p class="padded">This is where all the good stuff is. I think.
           <br />
           <button class="hubber">Take me</button>
         </p>
        </div>

        <button class="accordion">Getting Started with an Account</button>
        <div class="panel">
         <p class="padded">New to the site? Get started with a new account by clicking the button below.
           <br />
          <button onclick="location.href='/error'" type="button" class="hubber">
            Register</button>
         </p>
        </div>
        <br />
        <img class="center" src="/static/CRLS1.jpg" alt="Image of CRLS" style="width:1100px;height:850px;" />
      </div>
      <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        });
      }
      </script>
{% endblock %}
