{% extends "layout.html" %}

{% block heading %} Index {% endblock %}

{% block main %}
      <br />
      <div class="container">
        <div class="jumbotron"> 
          <h1>
            CRLS <span class="purple">TAKES</span>!
          </h1>
          <p>
            Because the Register Forum sucks and you deserve better. You're welcome.
          </p>
        </div>
        <img class="shake" src="/static/CRLS1.jpg" alt="Image of CRLS" style="width:1100px;height:850px;" />
      </div>
{% endblock %}
