{% extends "layout.html" %}

{% block heading %} Takes {% endblock %}

{% block main %}
  <div class="container">
    <br />
    <br />
    <br />
    <h1>
      <span class="purple">TAKES</span>
    </h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm"><button type="button" class="btn btn-primary">Freezing Cold</button></div>
      <div class="col-sm"><button type="button" class="btn btn-info">Cool</button></div>
      <div class="col-sm"><button type="button" class="btn btn-secondary">Lukewarm</button></div>
      <div class="col-sm"><button type="button" class="btn btn-warning">Hot</button></div>
      <div class="col-sm"><button type="button" class="btn btn-danger">Scalding</button></div>
    </div>
    <br />
    <p class="readableText">
      These buttons don't really do anything yet, but their making incorporates the grid
      component of bootstrap that this problem set is required to have. If you go to the  <a href="about.html">about</a>
      section, you can learn what these buttons will be used for in the near future.
    </p>
    <br />
  </div>
{% endblock %}
