{% extends "layout.html" %}

{% block heading %} Write {% endblock %}

{% block main %}
  <br />
  <div class="container">
    <div class="jumbotron">
      <h1>
        CRLS <span class="purple">TAKES</span>
      </h1>
      <p>
        Sorry, you must be signed in to write takes or blogs.
      </p>
      <button class="hubber">Sign in</button>
      <button class="hubber">Create an Account</button>
    </div>
    <img class="shake" src="/static/CRLS1.jpg" alt="Image of CRLS" style="width:1100px;height:850px;" />
  </div>
{% endblock %}
