{% extends "layout.html" %}

{% block heading %} Write {% endblock %}

{% block main %}
  <div class="container">
    <form action="/write" method="post">
      <div class="form-group">
          <input class="form-control" name="blogN" placeholder="Title of Blog... " id="blogN" type="text">
      </div>
        <div class="form-group">
            <input class="form-control" name="blog" placeholder="Write About..." id="blog" type="text">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
{% endblock %}
